.interface-container {
  display: flex;
  flex-direction: row;
}

.interface-container > * {
  margin: 10px;
}

.filter-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.filter-field input {
  margin-bottom: 10px;
}